<a href="https://colab.research.google.com/github/aetev/Learning-stuff-/blob/main/lern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pandas-ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas-ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-ta) (1.16.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=4b1caecbdb1fc2660c7a9b0234e8de15a8fb80c4ca2804af77151151c69f5f2c
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [3]:
import numpy as np
import pandas as pd
import pandas_ta as ta

**Define functions**

In [50]:
def get_largest_value_array(Data, columns):
    # Subset the data frame to only include the specified columns
    sub_data = Data[columns]

    # Use the apply() function with the max() function to find the maximum value in each row of the subsetted data frame
    max_values = sub_data.apply(max, axis=1)

    # Create a new array that takes the maximum value from step 2 for each row of the original data frame
    max_array = np.array(max_values)
    
    return max_array
  
def get_smallest_value_array(Data, columns):
    # Subset the data frame to only include the specified columns
    sub_data = Data[columns]

    # Use the min() function to find the minimum value in each row of the subsetted data frame
    min_values = sub_data.min(axis=1)

    # Create a new array that takes the minimum value from step 2 for each row of the original data frame
    min_array = np.array(min_values)
    
    return min_array

**Load Data**

In [24]:
Data = pd.read_csv('/content/drive/MyDrive/eurusd_hour.csv')
Data['Date'] = pd.to_datetime(Data['Date'])
Data['Time'] = pd.to_datetime(Data['Time'])
print(Data)

            Date                Time       BO       BH       BL       BC  \
0     2005-05-02 2023-05-23 00:00:00  1.28520  1.28520  1.28400  1.28440
1     2005-05-02 2023-05-23 01:00:00  1.28440  1.28480  1.28390  1.28420
2     2005-05-02 2023-05-23 02:00:00  1.28430  1.28540  1.28410  1.28510
3     2005-05-02 2023-05-23 03:00:00  1.28510  1.28590  1.28500  1.28510
4     2005-05-02 2023-05-23 04:00:00  1.28520  1.28590  1.28490  1.28550
...          ...                 ...      ...      ...      ...      ...
93079 2020-04-29 2023-05-23 18:00:00  1.08620  1.08851  1.08611  1.08713
93080 2020-04-29 2023-05-23 19:00:00  1.08711  1.08823  1.08659  1.08748
93081 2020-04-29 2023-05-23 20:00:00  1.08747  1.08788  1.08691  1.08708
93082 2020-04-29 2023-05-23 21:00:00  1.08708  1.08740  1.08699  1.08714
93083 2020-04-29 2023-05-23 22:00:00  1.08728  1.08760  1.08727  1.08743

           BCh       AO       AH       AL       AC      ACh
0     -0.00080  1.28540  1.28540  1.28420  1.28460 -0.00080
1     -0.00020  1.28460  1.28500  1.28410  1.28440 -0.00020
2      0.00080  1.28450  1.28560  1.28430  1.28530  0.00080
3      0.00000  1.28530  1.28610  1.28520  1.28530  0.00000
4      0.00030  1.28540  1.28610  1.28510  1.28570  0.00030
...        ...      ...      ...      ...      ...      ...
93079  0.00093  1.08660  1.08865  1.08640  1.08726  0.00066
93080  0.00037  1.08725  1.08837  1.08675  1.08760  0.00035
93081 -0.00039  1.08758  1.08810  1.08706  1.08808  0.00050
93082  0.00006  1.08808  1.08814  1.08763  1.08766 -0.00042
93083  0.00015  1.08756  1.08779  1.08749  1.08760  0.00004

[93084 rows x 12 columns]

**Extract time information**

In [27]:
Date = pd.DataFrame()

Date['day'] = Data['Date'].dt.day
Date['month'] = Data['Date'].dt.month
Date['weekday'] = Data['Date'].dt.weekday
Date['hour_of_day'] = Data['Time'].dt.hour

print(Date)

       day  month  weekday  hour_of_day
0        2      5        0            0
1        2      5        0            1
2        2      5        0            2
3        2      5        0            3
4        2      5        0            4
...    ...    ...      ...          ...
93079   29      4        2           18
93080   29      4        2           19
93081   29      4        2           20
93082   29      4        2           21
93083   29      4        2           22

[93084 rows x 4 columns]

In [58]:
Shape = pd.DataFrame()

abs_diff_array = np.abs(Data['BH'] - Data['BL'])

updown_array = np.array([0 if BO > BC else 1 for BO, BC in zip(Data['BO'], Data['BC'])])

max_array = get_largest_value_array(Data,["BC", "BO"])
min_array = get_smallest_value_array(Data,["BC", "BO"])

tp_array = (Data['BH']-min_array)/abs_diff_array
bp_array = (Data['BH']-max_array)/abs_diff_array

print(bp_array)
print(tp_array)

0        0.000000
1        0.444444
2        0.230769
3        0.888889
4        0.400000
           ...
93079    0.575000
93080    0.457317
93081    0.422680
93082    0.634146
93083    0.515152
Length: 93084, dtype: float64
0        0.666667
1        0.666667
2        0.846154
3        0.888889
4        0.700000
           ...
93079    0.962500
93080    0.682927
93081    0.824742
93082    0.780488
93083    0.969697
Length: 93084, dtype: float64